---
import OptimizedPicture from "@components/OptimizedPicture.astro";
import { SITE_DESCRIPTION, SITE_TITLE } from "@consts";
import BaseLayout from "@layouts/BaseLayout.astro";
import profile from "../content/images/about/profile.jpg";
---

<BaseLayout title={SITE_TITLE} description={SITE_DESCRIPTION}>
  <div class="flex flex-col px-6 text-white">
    <h2 class="text-2xl text-white dark:text-neutral-400">About Me</h2>

    <div class="flex justify-center gap-4">
      <OptimizedPicture src={profile} alt="profile" />

      <div   class="flex flex-col gap-5">

        <p>
          Hi, my name is Kye Shimizu, a first year Masters Student at the MIT
          Media Lab. I am part of the - still to be named - Behnaz Farahi's Group
          of misfits. Edit: Now named Critical Matter
        </p>
        <a>
          I've worked on a few projects, including ones that have been featured in the <a href="https://research.rhizomatiks.com/s/works/fencing_tracking/en.html">Japan Olympics</a></a> and <a href="https://kyeshimizu.com/projects/harmonize/"> Paris Fashion Week</a>
        </p>
        <p>
          I previously worked at Sony CSL working on projects that utilize <a href="https://shunichikasahara.com/portfolio/morphing-identity/">AI and psychology</a> to understand and augment human perception.

        </p>
      </div>
     
    </div>
  </div>
</BaseLayout>
