---
import { SITE_TITLE } from "@consts";
import { Icon } from "astro-icon/components";
---

<header class="z-50 flex w-full flex-wrap py-7 md:flex-nowrap md:justify-start">
  <nav
    class="relative mx-auto flex w-full max-w-7xl basis-full flex-wrap items-center px-4"
    aria-label="Global"
  >
    <div class="md:col-span-3">
      <a
        class="flex-none text-xl font-semibold text-neutral-900 hover:text-neutral-600 dark:text-neutral-400 dark:hover:text-neutral-200"
        href="/"
        aria-label="Astroverse"
      >
        {SITE_TITLE}
      </a>
    </div>

    <div
      class="ms-auto flex items-center gap-x-2 py-1 md:order-3 md:col-span-3 md:ps-6"
    >
      <button
        type="button"
        class="hs-dark-mode inline-flex items-center gap-x-2 rounded-full px-3 py-2 text-sm text-black hover:bg-white/20 hs-dark-mode-active:hidden"
        data-hs-theme-click-value="dark"
      >
        <Icon name="tabler:sun-filled" class="icon-base" />
      </button>
      <button
        type="button"
        class="hs-dark-mode hidden items-center gap-x-2 rounded-full px-3 py-2 text-sm text-white hover:bg-white/20 hs-dark-mode-active:inline-flex"
        data-hs-theme-click-value="light"
      >
        <Icon name="tabler:moon-filled" class="icon-base" />
      </button>

      <div class="md:hidden">
        <button
          type="button"
          class="hs-collapse-toggle flex size-[38px] items-center justify-center rounded-xl text-sm font-semibold text-black hover:bg-neutral-100 disabled:pointer-events-none disabled:opacity-50 dark:text-white dark:hover:bg-neutral-700"
          data-hs-collapse="#navbar-collapse-with-animation"
          aria-controls="navbar-collapse-with-animation"
          aria-label="Toggle navigation"
        >
          <Icon
            name="tabler:menu-2"
            class="size-4 flex-shrink-0 hs-collapse-open:hidden"
          />
          <Icon
            name="tabler:menu-order"
            class="hidden size-4 flex-shrink-0 hs-collapse-open:block"
          />
        </button>
      </div>
    </div>
  </nav>
</header>
